@media screen and (max-width: 1184px) {
  /* Block navigation <Hotel, Location...> */
  .nav > .sm-display {
    display: block;
  }

  .nav {
    flex-wrap: wrap;
  }

  .nav > div {
    width: calc((100% - 30px) / 4);
  }
}

@media screen and (max-width: 1024px) {
  /* Nav header */

  nav > div > .sm-display {
    display: block;
  }
  nav > div > a {
    display: none;
  }

  /* Pictures */
  .pictures {
    height: 270px;
  }

  /* Description */

  .description .col-1 {
    width: 100%;
  }

  .description {
    flex-direction: column;
  }

  .description .col-2 {
    flex-direction: row;
    width: 100%;
  }
  .description .col-2 div:last-child,
  .description .col-2 div:first-child {
    width: 100%;
  }
  .description .col-2 div:last-child {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 38px;
  }
  /* Nav Header */

  .hide {
    display: none;
  }

  .hide-lg {
    display: block;
  }

  header .container img {
    width: 132px;
  }

  /* Block navigation <Hotel, Location...> */
  .nav > .sm-display {
    display: block;
  }

  .nav {
    flex-wrap: nowrap;
    overflow: scroll;
    scrollbar-width: none;
  }

  .nav > div {
    /* width: calc((100% - 30px) / 4); */
    flex-shrink: 0;
    width: fit-content;
    padding: 12px 15px;
    gap: 5px;
  }

  /* Description */

  .description > .col-2 {
    flex-direction: column;
  }

  .description .col-2 div:last-child {
    min-height: 180px;
    width: 100%;
  }

  /*Section 1*/

  .section-1 > div {
    flex-direction: column;
    /* display: flex;
  justify-content: center;
  overflow-x: hidden; */
  }

  .section-1 .col-1 {
    margin-bottom: 20px;
  }

  /*Carroussel*/
  .carroussel {
    width: calc((100%) / 1.5);
  }

  /* Guide */
  .section-2 > div {
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
    flex-wrap: nowrap;
    scrollbar-width: none;
  }
}
